body {
	background-color: grey
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.largetext {
	font-size: 30px;
}

.whitetext {
	font color: white;
}

.blacktext {
	font color: black;
}

.bold {
	font-weight: bold;
}

.black {
	color: black;
}

.doubleborder {
	border-style: double;
	border-width: 4px;
	background-color: lightgrey;
	padding: 8px;
}

* {
	letter-spacing: .5px;
}

h1 {
	font-weight: bold;
	font-size: 80px;
	font-family: calibri;
	font-color: black;
}

img. {
	border-radius: 5px;
	padding: 3px;
	margin: 0% 10% 10%;
}

a {
	color: black;
}

a:hover {
	color: white;
}

a:active {
	color: blue;
}